@main {

<script type="text/javascript">

    $(function() {

      var ws = new WebSocket("ws://localhost:9000@routes.WEBSOCKETStests.loadAverage()")


      ws.onmessage = function(msg) { $("#load-average").text(msg.data) }

    })

</script>

<h1>Avarage: <span id="load-average">x</span></h1>

}