@(implicit request: RequestHeader)

@main {

    <div id="tweets"></div>

    <script type="text/javascript">

        var url = "@routes.REACTIVE.tweetsSocket().webSocketURL()";

        var tweetSocket = new WebSocket(url);

        tweetSocket.onmessage = function (events) {
           console.log(event);
           var data = JSON.parse(event.data);
           var tweet = document.createElement("p");
           var text = document.createTextNode(data.text)
           tweet.appendChild(text);
           document.getElementById("tweets").appendChild(tweet);
        };

        tweetSocket.onopen = function() {
           tweetSocket.send("subscribe");
        };

        // to make resailent.

        tweetSocket.onclose = function() {
           alert("Connection Lost.");
           // autoconnection..
        }

    </script>

}
